html,body {
    margin:0;
    padding:0;
}

body {
    background: rgb(150,150,150);
    min-height: 100vh;
    box-sizing:border-box;
}

/* Fix for phone screens */

@media only screen and (max-width: 600px) {
    #rootContainer {
        transform: scale(.7);
        transform-origin: 50% 0;
    }
}


#rootContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menubar {
    position: absolute;
    top:1rem;
    right:0;
    left:0;
    display:flex;
    flex-direction:row;
    justify-content: center;

}
#menubar .button {
    padding: 1rem;
    margin: .5rem;
    min-width: 100px;
    background-color:white;
    font-family: 'Luckiest Guy';   
    font-size: 2rem;
    text-transform: uppercase;   
    text-align:center;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
#menubar .button:hover {
    transform: scale(1.2);
}
#menubar .button.active {
    background-color:lightblue;
}

.tabContainer:not(.active) {
    display:none;
}

#perkTreeContainer {
    width: 800px;
    margin: auto;
    /*background-color: white;*/
    position: absolute;
    top: 100px;
    
}

#perkTreeMenu {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin:1rem;
}
#perkTreeMenu .button {
    padding: 1rem;
    margin: .5rem;
    min-width: 100px;
    background-color:white;
    font-family: 'Luckiest Guy';   
    font-size: 1rem;
    text-transform: uppercase;   
    text-align:center;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
#perkTreeMenu .button:hover {
    transform: scale(1.2);
}
#perkTreeMenu .button.active {
    background-color:lightblue;
}

.perkTreeRootContainer:not(.active) {
    display:none;
}


.perkRow {
    display:flex;
    margin: 1rem;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

.perkRow.blue {
    background-color: #284D79;
}

.perkRow.level2 {
    transform: scale(.9) translate(36px,-10px);
}
.perkRow.level3 {
    transform: scale(.8) translate(88px,-32px);
}

.perkIcon {
    min-width: 150px; 
    min-height: 150px;
    background-color: white;
    background-size: cover;
}
.perkIcon.scavenger {
    background-image: url(./img/vulture.svg);
}
.perkIcon.muck {
    background-image: url(./img/arrowed.svg);
}
.perkIcon.veto {
    background-image: url(./img/vote.svg);
}
.perkIcon.fortune {
    background-image: url(./img/gold-stack.svg);
}
.perkIcon.reaper {
    background-image: url(./img/reaper-scythe.svg);
}
.perkIcon.fivefinger {
    background-image: url(./img/snatch.svg);
}
.perkIcon.photofinish {
    background-image: url(./img/photo-camera.svg);
}
.perkIcon.medic {
    background-image: url(./img/healing.svg);
}
.perkIcon.runner {
    background-image: url(./img/wingfoot.svg);
}
.perkIcon.damagedealer {
    background-image: url(./img/winged-sword.svg);
}
.perkIcon.colead {
    background-image: url(./img/shadow-follower.svg);
}
.perkIcon.revive {
    background-image: url(./img/revive.svg);
}
.perkIcon.victor {
    background-image: url(./img/crown.svg);
}
.perkIcon.gambler {
    background-image: url(./img/dice-fire.svg);
}
.perkIcon.simulacrum {
    background-image: url(./img/clone.svg);
}
.perkIcon.armada {
    background-image: url(./img/bullets.svg);
}
.perkIcon.commander {
    background-image: url(./img/flag.svg);
}
.perkIcon.serendipity {
    background-image: url(./img/coinflip.svg);
}

.perkDetails {
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Luckiest Guy';
    padding: 1rem;
    max-width: 75%;
}

.perkTitle {
    font-size: 2.5rem;
    text-transform: uppercase;

}
.perkDescription{
    font-size: 1rem;
}
.perkUseInfo {
    color: darkcyan;
}
.perkHighlight {
    color: darkcyan;
    font-size:1.2rem;
}

.perkTierHeading {
    font-family: 'Luckiest Guy';
    text-transform: uppercase;
    padding: 1rem;
    background-color: yellowgreen;
    display:flex;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

#rulesContainer {
    width: 800px;
    min-height: 400px;
    background: white;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    padding: 0 1rem 0 1rem;
    position: absolute;
    top: 120px;
}

#rulesContainer .tabHeader {
    text-align:center;
    text-transform:uppercase;
    font-family: 'Luckiest Guy';
    font-size:3rem;
    margin: 1rem 0 1rem 0;
    border-bottom: 2px solid black;
}

#rulesContainer .tabSectionHeader {
    text-transform:uppercase;
    font-family: 'Luckiest Guy';
    font-size:1.5rem;
    margin: 1rem 0 1rem 0;
}

#rulesContainer .tabSection {
    font-size: 1rem;
}

.ruleHighlight {
    color: rgb(0,0,200);
    font-weight:800;
}
.rhPerk {
    color: rgb(0,120,0);
    font-weight:800;
}

#pointsContainer {
    width: 800px;
    margin: auto;
    /*background-color: white;*/
    position: absolute;
    top: 120px;
    text-align:center;
}


#mapContainer {
    width: 80dvw;
    height: 80dvh;
    margin: auto;
    /*background-color: white;*/
    position: absolute;
    top: 120px;
    text-align:center;
    background-image: url('./img/fortnitemap.jpg');
    background-position: 50% 0;
    background-size: contain;
    background-repeat: no-repeat;
}